
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shopping List - Python Flask app</title>
</head>
<body>
    <h1>Shopping List1</h1>
    <ul>
        {%for item in items%}
        <li>{{item}} <small><a href="{{url_for('remove_item', name=item)}}">[Remove]</a></small></li>
        {%endfor%}
    </ul>
    <form  method="POST">
        <input type="text" class="text" name="item">
        <input type="submit" class="submit" value="Add to List" />
    </form>
</body>
</html>

